body{
    background-image: url("/img/Background.jpg");
    background-repeat: repeat;
}

header{

    background-color: #3b68cf;
    margin: -8px;

    border-bottom: solid #3b8bcf 5px;

}

nav{

    font-family: "Segoe UI";
    font-size: 20px;
    padding-left: 10px;
}

a{
    position: relative;
    left: 10px;
    bottom: 27px;

    padding-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 20px;
    text-align: center;

    color: aliceblue;
}

a:link{

    color: aliceblue;
    text-decoration: none;
}

a:hover{
    background-color: #3b8bcf;
    color: aliceblue;

    border-left: solid 2px #363b96;
    border-top: solid 2px #363b96;
    border-right: solid 2px #363b96;
}

a:visited{
    color: aliceblue;
}

section {
    background-color: aliceblue;
    margin-top: 8px;
    margin-left: 170px;
    width: 1000px;
    height: 2720px;


}

footer{
    font-family: Calibri;
    color: grey;
}

div{
    font-family: Calibri;
}
.divnav{
    padding: 0px 0px 0px 0px;
    height: 0px;
}
form{
    margin-left: 50px;
}
.formnav{
    margin-left: 0px;
}
label{
    display: block;

}
input,select{
    height: 20px;

}
.titulo{
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;

    margin-left: 0px;
    width: 100%;
}
.botao{
    margin-left: 360px;
    height: 25px;
    width: 120px;
}
.input{
    position: relative;
    left: 360px;
    bottom: 55px;

    height: 30px;

    font-family: "Segoe UI";
    font-size: 20px;
    color: aliceblue;
    background-color: #3b68cf;
    border: none;
}
.input:hover{
    background-color: #3b8bcf;

    border-left: solid 2px #363b96;
    border-top: solid 2px #363b96;
    border-right: solid 2px #363b96;

    border-radius: 0px;

    padding-bottom: 52px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}
hr{
    margin-right: 45px;
}






