body{
    background-image: url("/img/Background.jpg");
}
header{

    background-color: #4F5B93;
    margin: -8px;

    border-bottom: solid #8892BF 5px;

}

nav{

    font-family: "Segoe UI";
    font-size: 20px;
    color: aliceblue;

    position: relative;
    left: 10px;

}

a{

    position: relative;
    left: 10px;
    bottom: 27px;

    padding-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 20px;
    text-align: center;

}

a:link{

    text-decoration: none;

}

a:visited{

    color: aliceblue;

}

a:hover{
    background-color: #8892BF;
    color: aliceblue;

    border-left: solid 2px #363b96;
    border-top: solid 2px #363b96;
    border-right: solid 2px #363b96;
}

a:active{
    text-decoration: none;
}

section {
    background-color: aliceblue;
    margin-top: 8px;
    margin-left: 170px;
    width: 1000px;
    height: 700px;

}

footer{

    font-family: Calibri;
    color: grey;
}


