body{
    background-image: url("/img/Background.jpg");
    background-repeat: no-repeat;
}

header{

    background-color: #4F5B93;
    margin: -8px;

    border-bottom: solid #8892BF 5px;

}

nav{

    font-family: "Segoe UI";
    font-size: 20px;
    padding-left: 10px;
}

a{
    position: relative;
    left: 10px;
    bottom: 27px;

    padding-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 20px;
    text-align: center;

    color: aliceblue;
}

a:link{

    color: aliceblue;
    text-decoration: none;
}

a:hover{
    background-color: #8892BF;
    color: aliceblue;

    border-left: solid 2px #363b96;
    border-top: solid 2px #363b96;
    border-right: solid 2px #363b96;
}

a:visited{
    color: aliceblue;
}

section {
    background-color: aliceblue;
    margin-top: 8px;
    margin-left: 170px;
    width: 1000px;
    height: 700px;


}

footer{
    font-family: Calibri;
    color: grey;
}

div{
    font-family: Calibri;
}
form{
    margin-left: 50px;
}

/*label{
    margin-left: 370px;
    font-size: 20px;
    font-weight: bold;
}*/
label{
    display: inline-block;
    width: 80px;

}
input,select{
    border-radius: 6px;
    height: 20px;

}
.titulo{
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;

    margin-left: 370px;
    width: 100%;
}
.botao{
    margin-left: 210px;
    height: 25px;
    width: 120px;
    border-style: ridge;
}



